
@{
    ViewBag.Title = "Details";
    Scripts.Render("~/bundles/accordion");
    Scripts.Render("~/bundles/layerslider");

}

			<!-- page content -->
<section class="gallery-title text-center" style="background-image:url(../../Content/img/join.png)">
    <div class="gallery-wrapper">
        <div class="container">
            <div class="row">
                <div>
                    <h1 class="headline">Our Services</h1>
                </div>
            </div>
            <div class="row">
                <div class="sub-headline">
                    <p>See the options of your Healthy Journey</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gallery-content">
    <div class="grid-row">
        <div class="grid-col grid-col-9">
            <!-- photo tour -->
            <section class="widget photo-tour photo-tour-1">
                <div class="widget-title">Primary Health Care </div>

                <div class="grid clearfix">
                    <div class="item item2">
                        <div class="pic">
                            <img src="~/Content/img/slider3.jpg" width="870" height="458" alt="Nullam euismod commodo">
                        </div>
                    </div>
                </div>
            </section>
            <!--/ photo tour -->
            <!-- details -->
            <section class="widget widget-details">
                <div class="widget-title">Details</div>
                <div class="text">
                    <p><strong>Ut non molestie nulla.</strong><br>Quisque in nulla ut metus cursus commodo non vitae nibh. Curabitur euismod sem vel velit blandit, sit amet molestie sapien pulvinar. In hac habitasse platea dictumst. Suspendisse justo leo, scelerisque sit amet arcu vel, aliquam accumsan nibh. Ut nec nisl euismod, volutpat eros sed, tempus tortor.</p>
                    <ul>
                        <li><i class="fa fa-angle-right"></i>Vestibulum - 70%</li>
                        <li><i class="fa fa-angle-right"></i>Morbi consectetur - 50%</li>
                        <li><i class="fa fa-angle-right"></i>Categories : Sed / Quis / Metus</li>
                        <li><i class="fa fa-angle-right"></i>Author : Mauris</li>
                        <li><i class="fa fa-angle-right"></i>WebSite: www.your_web.com</li>
                    </ul>
                    <a href="#" class="button">Details</a>
                </div>
            </section>
            <!--/ details -->
        </div>

        <div class="grid-col grid-col-3">
            <!-- departments -->
            <section class="widget widget-departments">
                <div class="widget-title">Departments</div>
                <dl>
                    <dt class="opened"><i class="fa fa-medkit"></i>Primary Health Care</dt>
                    <dd>Sed purus purus, tincidunt eget malesuada et, molestie ut eros. Fusce blandit, sapien eu sollicitudin consectetur, ligula tellus.</dd>
                    <dt><i class="fa fa-user-md"></i>Gynaecological Clinic</dt>
                    <dd>Donec lacinia suscipit magna, et pulvinar tortor facilisis quis. Donec tempor erat vel scelerisque posuere.</dd>
                    <dt><i class="fa fa-stethoscope"></i>Diagnosis With Precise</dt>
                    <dd>Nam elementum elit eget  tellus faucibus euismod. Aliquam turpis nibh, dictum eu consequat ac, facilisis eu elit. Pellentesque pellentesque orci quam, nec tempus nibh congue ut.</dd>
                    <dt><i class="fa fa-heart"></i>Cardiac Clinic</dt>
                    <dd>Nulla nec rutrum tortor, in fermentum nisl.accumsan pulvinar scelerisque tincidunt, adipiscing eget risus.</dd>
                    <dt><i class="fa fa-scissors"></i>General Surgery</dt>
                    <dd>Sed purus purus, tincidunt eget malesuada et, molestie ut eros. Fusce blandit, sapien eu sollicitudin consectetur, ligula tellus pulvinar. Urna, quis facilisis magna dolor ac lacus.</dd>
                    <dt><i class="fa fa-wheelchair"></i>Rehabilitation Studio</dt>
                    <dd>Sed purus purus, tincidunt eget malesuada et, molestie ut eros. Fusce blandit, sapien eu sollicitudin consectetur, ligula tellus pulvinar. Urna, quis facilisis magna dolor ac lacus.</dd>
                </dl>
            </section>
            <!--/ departments -->
        </div>
    </div>

    <div class="grid-row-sep"></div>

    <div class="grid-row">
        <!-- related projects -->
        <section id="photo-tour" class="widget photo-tour photo-tour-4">
            <div class="widget-title">Related Projects</div>

            <div class="grid">
                <div class="item item1">
                    <div class="pic">
                        <img src="pic/photo-tour-2.jpg" width="270" height="142" alt="Commodo purus sit amet">
                        <div class="links">
                            <ul>
                                <li><a href="#" class="fa fa-link"></a></li>
                            </ul>
                        </div>
                    </div>
                    <h3>Commodo purus sit amet</h3>
                    <p>Pellentesque habitant morbi</p>
                </div>

                <div class="item item3">
                    <div class="pic">
                        <img src="pic/photo-tour-3.jpg" width="270" height="142" alt="Quisque venenatis mi at">
                        <div class="links">
                            <ul>
                                <li><a href="#" class="fa fa-video-camera"></a></li>
                            </ul>
                        </div>
                    </div>
                    <h3>Quisque venenatis mi at</h3>
                    <p>Proin nec lectus lectus. Nunc odio</p>
                </div>

                <div class="item item1">
                    <div class="pic">
                        <img src="pic/photo-tour-4.jpg" width="270" height="142" alt="Cras gravida tristique odio sit">
                        <div class="links">
                            <ul>
                                <li><a href="#" class="fa fa-eye"></a></li>
                            </ul>
                        </div>
                    </div>
                    <h3>Cras gravida tristique odio sit</h3>
                    <p>Cras gravida tristique odio sit</p>
                </div>

                <div class="item item3">
                    <div class="pic">
                        <img src="pic/photo-tour-5.jpg" width="270" height="142" alt="Quisque venenatis mi at">
                        <div class="links">
                            <ul>
                                <li><a href="#" class="fa fa-video-camera"></a></li>
                            </ul>
                        </div>
                    </div>
                    <h3>Quisque venenatis mi at</h3>
                    <p>Proin nec lectus lectus. Nunc odio</p>
                </div>
            </div>
        </section>
        <!--/ related projects -->
    </div>
</section>
<!--/ page content -->

