
@{
    ViewBag.Title = "Success";
}

<div style="background-image:url(../../Content/img/Contact-Slashsquare.jpg)">
    <section class="gallery-title le_container text-center">
        <div class=" card-1" style="background-color:#2a4852;opacity:0.8">
            <div class="container">
                <div class="row">
                    <div>
                        <h1 class="headline">Your payment has been Successfull</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="sub-headline">
                        <p>we will see your file and we will contact you as soon as possible</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br /><br /><br />
</div>

